<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />
</head>
    {% block body %}

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">HOME</a>
                </div>
               
                    <ul class="nav navbar-nav"> 
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="/wyprawy"> Wyprawy <span class="sr-only"></span></a></li>
                        <li><a href="/top100"> dodaj Obrazek <span class="sr-only"></span></a></li>
                          <li><a href="/profile">O Mnie</a></li>
                          <li><a href="/dom">Gaeria Obrazów</a></li>
                            <li><a href="/trip">Dodaj Tripa</a></li>
                            {% endif %}
                    </ul>      
                    <ul class="nav navbar-nav navbar-right">
                       
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li id="czyZalogowany">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                
                            </li>    
                                <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                                </li>
                            {% else %}
                            <li><a href="/login">Zaloguj</a></li> 
                            <li><a href="/register">Zarejestruj</a></li>
                            {% endif %}
                             
                    </ul>
                </div><!-- /.navbar-collapse -->
          
        </nav> 
        <div class="jumbotron" style="background-image: ">
            <h1>Witam na mojej stronie</h1>
        </div>
        <div id="tresc">
            <h1>aaaaaaaaaaaaaa</h1>    
        </div>  
    {% endblock %}


{% block javascripts %}{% endblock %}
</body>
</html>
