{% include 'base.html.twig' %}
{% block body %} 
<div class="zawartosc">
    <div class="zawartosc2">
    {% for img in img %}
        {{ img.imageName }}   
        {{ images_dir }}/{{ img.imageName }}
        <img src="{{ images_dir }}/{{ img.imageName }}"/>
    {% endfor %}
    </div>
</div>




{% endblock %}