{% include  'base.html.twig' %}
{% block body %}
    <form name="add" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="exampleInputFile">dodaj </label>
            <input type="file" name="imageFile" class="form-control-file" />
        </div>

        <div class="form-group">
            <label for="">Nazwa</label>
            <input type="text" name="imageName" class="form-control-file" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
{% endblock %}
