{% include 'base.html.twig' %}
{% block body %} 

    {{ form_start(form) }}
    <div class="form-group">
        <label for = "Miasto">Miasto</label>
        {{ form_widget(form.city, {'attr': 
{'placeholder': 'Miasto do którego chcesz pojechać', 'label': 'Miasto', 'class': 'form-control'
        }}) }}
    </div>
    <div class="form-group">
        <label for = "Komentarz">Komentarz</label>
        {{ form_widget(form.commend, {'attr':
{'placeholder': 'komentarz', 'label': 'Komentarz', 'class': 'form-control'
        }}) }}
    </div>
    <div class="form-group">
        <label for = "Ocena">Ocena</label>
        {{ form_widget(form.rating, {'attr':
{'placeholder': 'ocena', 'label': 'ocena', 'class': 'form-control'
        }}) }}

        {{ form_end(form) }}

    {% endblock %}