.navbar-default {
    background-color: black;
    border-color: black;
    color:red;
}

.jumbotron {
    background-image: url(../img/1.jpg);
    width: 1280px;
    height: 719px;
    margin: auto;
    color: black;

}

.form-group{
    color: green;
    margin: auto;
    width: 15%;
    



}
body {
    text-align: center;
    background-color: black;

}
#tresc2 {
    text-align: center;

}

#czyZalogowany{
    margin: 1em;
}

 
img {
  max-width: 100%;
}


.zawartosc {
   width: 400px;
   margin: auto;
   text-align: center;
   background-color: black 
}

.zawartosc2 {
    margin:30px;
}

.navbar-default .navbar-nav>li>a {
    color:red;
}

.navbar-default .navbar-brand {
    color:red;
}

.under {
    background-image: url(../img/under.jpg);
    
}


under.html.twig {
    background-image: url(../img/under.jpg);
}